@import url(./reset.css);

body{
    background-color: black;
}

h2{
    font-size: 2rem; /* 2rem = 2 * 16px = 32px */
    color: #33A8DB;
    font-family: 'Raleway';
    font-weight: bold; /* deixar negrito de maneira geral */
    letter-spacing: 4px; /*espaçamento entre letras*/
    text-transform: uppercase; /*transfomar todas as letras para MAIUSCULO*/
    margin-bottom: 24px;
}

p{ color: #FFFFFF;}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url(./assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    padding-top: 60px;
    border-bottom: 1px solid #33A8DB;
}

.banner .banner-content {
    color: white;
    text-align: center;
    margin: auto;
    width: 50%; 
}

.banner .banner-content .logo {
    background-color: rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    margin: auto;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.banner h1{
    color: #33A8DB;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    background: -webkit-linear-gradient(#33A8DB,#1472B7); /*webkit-linear-gradient é um paralelo do linear-gradient só que para textos, porém precisa ser usado com os dois códigos abaixo para melhor uso*/
    background-clip: text;
    -webkit-background-clip: text; /* determina a área de pintura do background*/
}

.banner p {
    font-size: 1.25rem;
    margin: 20px 0;    
}

.banner button {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 15px 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #33A8DB;
    background-color: transparent;
    border-image: linear-gradient(#33A8DB,#1472B7);
    border-image-slice: 10;
}

/*-------------------header finalizado------------------------*/

section{
    margin: 100px auto;
    border-bottom: 2px dashed #33A8DB; /*coloquei apenas para identificar os finais das sections*/
}

#course-content {
    text-align: center;
    width: 800px;
}

#course-content .modules-list {
    margin: 30px 0 ;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    background-color: #252525;
    padding: 15px;
    border-radius: 100px;
    border:  1px solid #33A8DB;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

/*-------------------section course-content finalizado------------------------*/

#transform-world {
height: 600px;
    background-size: cover;
    background-image: url(./assets/images/woman-code.png);
    background-attachment: fixed;
    border-top: 1px solid #33A8DB;
    border-bottom: 1px solid #33A8DB;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 2.5rem; /* 2.5 * 16px (medida rem(root)) = 40px */ 
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB
}

/*-------------------section transform-world finalizado------------------------*/

#professional-challenges {
    width: 800px;
    text-align: center;
}

#professional-challenges img {
    margin: 40px 0;
}

#professional-challenges p {
    font-size: 1rem;
    font-weight: 400;
}

/*-------------------section professional-challenge finalizado------------------------*/

footer {
    text-align: center;
    padding: 60px 0 ;
    border-top: 1px solid #33A8DB;
    background: linear-gradient(180deg, rgba(51, 168, 219, 0.00) 0%, rgba(51, 168, 219, 0.20) 99.99%, rgba(51, 168, 219, 0.20) 100%);
}

footer .dio-logo {
    width: 350px;
    margin: 15px 0;
}

footer a {
   color: #33A8DB;
   font-weight: bold;
   text-decoration: none;
}

